*{
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: aqua;
    position: fixed;
    height: 150px;
    width: calc(100% - 85%);
}

nav{
    background-color: brown;
    position: fixed;
    top: 150px;
    min-height: calc(100% - 300px);
    width: calc(100% - 85%);
}

aside{
    background-color: chartreuse;
    min-width: calc(100% - 25);
    position: absolute;
    min-width: calc(80% - 15%);
}

footer{
    background-color: purple;
    position: fixed;
    height: 150px;
    width: calc(100% - 85%);
    bottom: 0;
}