*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Version to mobile */

/* Version to tablet */

/* Version to desktop */

header{
    background-color: red;
    height: 100px;
    position: fixed;
    width: calc(100% - 85%);
}
/*
nav{
    background-color: blue;
    right: 0;
    height: 100px;
    position: fixed;
    min-width: calc(100% - 15%);
}
*/

#menu-container{
    background-color: brown;
    height: 100px;
    min-width: calc(100% - 15%);
}

#menu-container > ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

#menu-container > ul > li{
    display: inline-block;
}

#menu-container > ul > li > a{
    color: while;
    display: block;
    text-decoration: none;
}

#menu-container > ul > li:hover{
    background-color: snow;
}
    
aside{
   background-color: yellow;
   bottom: 0;
   min-height: calc(100% - 100px);
   position: absolute;
   width: 100%;
}

footer{
   background-color: green;
   /* It's temporary */
   display: none;
}